* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* 
    HTML
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    ROOT
*/
:root {
    --main-bg-color: #141922;
    --footer-bg-color: #272727;
    --top-bar-bg-color: #090B13;
    --secondary-font-color: #787A7E;
    --empty-bar-color: #5A5A5A;
}

/* 
    GENERAL
*/
.container {
    width: 100%;
    display: flex;
}

.white-font {
    color: white;
}

.secondary-font {
    color: var(--secondary-font-color);
}

.empty-bar-bg-color {
    background-color: var(--empty-bar-color);
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}

img {
    width: 100%;
    display: block;
}

.my-circle-img {
    border-radius: 50%;
    overflow: hidden;
}

/* 
    MAIN
*/
.sidebar-container {
    width: 160px;
    height: calc(100vh - 80px);
    background-color: black;
}

.main-container {
    width: calc(100% - 160px);
    height: calc(100vh - 80px);
    background-color: var(--main-bg-color);
    overflow: auto;
}

.top-bar-container {
    background-color: var(--top-bar-bg-color);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.button-upgrade-container {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.top-bar-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    background-color: var(--top-bar-bg-color);
    border: 1px solid white;
    border-radius: 20px;
}

.nav-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-container li {
    display: inline-block;
    padding: 12px 0;
}

.nav-container a {
    text-decoration: none;
    color: var(--secondary-font-color);
    padding: 6px 6px;
    font-size: 0.8em;
}

.main-container h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.main-container h4 {
    color: white;
    margin: 6px 0;
}

.main-container h5 {
    color: var(--secondary-font-color);
}

.main-container p {
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 0.8em;
}

.my-song-1-6 {
    width: calc((100% / 6) - 32px);
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
}

/* 
    FOOTER
*/
footer {
    color: white;
}

.footer-container {
    width: 100%;
    height: 80px;
    background-color: var(--footer-bg-color);
}

.footer-my-row {
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favourite-song {
    width: 152px;
}

.footer-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dream-theater-container-img {
    width: 40px;
    height: 40px;
}

footer h4, footer p {
    font-size: 0.5em;
    padding-left: 6px;
}

footer h4 {
    padding-bottom: 4px;
}

.folder-container {
    padding-left: 8px;
}

.heart-and-folder-container {
    display: flex;
}

.buttons i {
    font-size: 1.3em;
    padding: 0 12px;
}

.track-menù {
    text-align: center;
}

.song-bar-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.time {
    font-size: 0.6em;
}

.song-bar {
    padding: 0px 12px;
    width: 300px;
}

.volume {
    display: flex;
}

.volume i {
    font-size: 0.9em;
    padding: 0 4px;
}

.first-volume-bar-container {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.second-volume-bar-container {
    width: 100px;
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.volume-bar {
    width: 100%;
    height: 50%;
    background-color: var(--empty-bar-color);
    border-radius: 50px;
}

.song-point {
    width: 30%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.volume-point {
    width: 40%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* 
    MEDIA QUERY
*/
@media screen and (max-width: 1100px) {
    .my-song-1-4 {
        width: calc((25%) - 32px);
    }

    .first-volume-bar-container {
        width: 250px;
    }
}

@media screen and (max-width: 700px) {
    .my-song-1-2 {
        width: calc((50%) - 32px);
    }

    .first-volume-bar-container {
        width: 200px;
    }

    .second-volume-bar-container {
        width: 80px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar-container {
        width: 60px;
    }

    .main-container {
        width: calc(100% - 60px);
    }

    .my-song-1-2 {
        width: calc((50%) - 32px);
    }

    /* 
        FOOTER
    */
    .favourite-song {
        width: 100px;
    }

    .heart-and-folder-container {
        display: block;
        padding-left: 4px;
    }

    .folder-container {
        padding: 0;
    }

    .buttons i {
        font-size: 1.1em;
        padding: 0 8px;
    }

    .first-volume-bar-container {
        width: 120px;
    }

    .volume i {
        font-size: 0.8em;
        padding: 0 3px;
    }

    .second-volume-bar-container {
        width: 60px;
    }
}